@model List<BaseIngredientViewModel>
@{
    ViewData["Title"] = "Search";
    ViewData["ShowButtons"] = true;


}
<div class="intro-text left-0 bg-faded p-5 rounded">

    <h1 class="text-center">Choose your Ingredients</h1>


    <style>
        .btn {
            width: 75px;
        }
    </style>

    <br />
    @using (Html.BeginForm("Index", "Search", FormMethod.Post))
    {
        <table>
            @if (Model == null)
            {
                <tr>
                    <td>
                        Ingredient doesn't exist!!!!
                    </td>
                </tr>
            }
            else
            {

                for (int i = 0; i < Model.Count(); i++)
                {


                    <tr>
                        <td>
                            @* <input id="@(item.Id)" name="@(item.Id)" type="checkbox" value="false" /> @item.Name*@
                            @Html.CheckBoxFor(m => m[i].isChecked)

                            @Html.DisplayFor(m => m[i].Name)
                            @Html.HiddenFor(m => m[i].Name)
                            @Html.HiddenFor(m => m[i].Id)

                        </td>
                    </tr>
                }

            }
        </table>
        <div class="input-group-append">
            <button class="btn btn-primary" name="Start" type="submit"> START </button>
        </div>
    }
    <br />
    <br />

</div>